.footer
{
  height: 15%;
  position: sticky;
  padding-top: 15px;
  padding-bottom: 15px;
  bottom: 0;
  background-color: #595854;
  color: #6b0404;
  font-family: consolas;
  line-height: 0.1;
}

.header
{
  padding: 30px;
  text-align:center;
  font-size: 35;
  color: white;
  background-color: #33322f;
}

.content
{
  padding:20px;
  content:center;
  height: 65%;
  background-color: #33322f;
  color:#b3ac50;
}

body
{
  background-color: #242321;
}

*
{
  box-sizing: border-box;
}

