
.footer 
{
  height: 15%;
  position: sticky;
  bottom: 0;
  background-color: white;
  font-family: consolas;
}

.header
{
  padding: 30px;
  text-align:center;
  font-size: 35;
  color: white;
  background-color:blue;
}

.content
{
  padding:20px;
  content:center;
  height: 300px;
  background-color: greenyellow;
}

* 
{
  box-sizing: border-box;
}
